# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
pandas_venv/
venv/
env/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store

# Logs
*.log

# Environment variables
.env